<header class="header" id="site-header">
  <div class="header-container container">
    <button type="button" class="menu-button" aria-label="menu toggle">
      <span class="icon">
        <svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 24V21H36V24H0ZM0 13.5V10.5H36V13.5H0ZM0 3V0H36V3H0Z" fill="#F2F6FF" />
          </svg>
      </span>
    </button>
    <nav class="nav ">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="links" href="index.html#Home">Home</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Game">Game Overview</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Reviews">Reviews</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#FAQ">FAQ</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Key">Key Features</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Gallery">Gallery</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <ul class="menu-list">
    <li><a class="menu-list-item" href="index.html#Home">Home</a></li>
    <li><a class="menu-list-item" href="index.html#Game">Game Overview</a></li>
    <li>
      <a class="menu-list-item" href="index.html#Reviews">Reviews</a>
    </li>
    <li><a class="menu-list-item" href="index.html#FAQ">FAQ</a></li>
    <li><a class="menu-list-item" href="index.html#Key">Key Features</a></li>
    <li><a class="menu-list-item" href="index.html#Gallery">Gallery</a></li>
  </ul>
</div>