<!-- Home -->
<section class="home-section" id="Home">
    <div class="container">
        <h1 class="visually-hidden">Pair Hunt 3D</h1>
        <a class="home-link" href="#Reviews">
            <img class="home-play-img" src="/img/home/play.png" alt="Google play" width="243" height="70" loading="lazy">
        </a>
    </div>
</section>
<!-- Game Overview -->
<article class="game-section" id="Game">
    <div class="container game-container">
        <h2 class="game-title">Game Overview</h2>
            <p class="game-text">Pair Hunt 3D transforms simple object-matching into a full sensory delight. Your goal is simple — scan the scene, find
            identical items, and clear them away. But with hundreds of colorful, rotating 3D objects, it’s more satisfying than you
            think. Whether you’re playing for focus or to unwind, this game delivers the perfect balance of chill and challenge.</p>
    </div>
</article>
<!-- Reviews -->
<section class="reviews-section" id="Reviews">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <div class="swiper reviews-swiper">
            <div class="swiper-wrapper reviews-swiper-wrapper">
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="quotes" src="/img/reviews/quotes.png" alt="quotes" width="57" height="41" loading="lazy">
                        <img class="avatar-img" src="/img/reviews/one.png" alt="Avatar" width="88" height="78" loading="lazy">
                        <div class="reviews-wrapper-text">
                            <p class="reviews-author">PuzzleAddict777:</p>
                            <p class="reviews-text">"Oddly satisfying. I play before bed and it helps me wind down."</p>
                        </div>
                    </div>       
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="quotes" src="/img/reviews/quotes.png" alt="quotes" width="57" height="41" loading="lazy">
                        <img class="avatar-img" src="/img/reviews/two.png" alt="Avatar" width="88" height="78" loading="lazy">
                        <div class="reviews-wrapper-text">
                            <p class="reviews-author">CleanItAll:</p>
                            <p class="reviews-text">"It’s like spring cleaning for the brain — I can’t stop matching!"</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="quotes" src="/img/reviews/quotes.png" alt="quotes" width="57" height="41" loading="lazy">
                        <img class="avatar-img" src="/img/reviews/three.png" alt="Avatar" width="88" height="78" loading="lazy">
                        <div class="reviews-wrapper-text">
                            <p class="reviews-author">ChillVibesOnly:</p>
                            <p class="reviews-text">"The sound design is SO relaxing. Lovely game."</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="quotes" src="/img/reviews/quotes.png" alt="quotes" width="57" height="41" loading="lazy">
                        <img class="avatar-img" src="/img/reviews/four.png" alt="Avatar" width="88" height="78" loading="lazy">
                        <div class="reviews-wrapper-text">
                            <p class="reviews-author">ZoomZoomZoom:</p>
                            <p class="reviews-text">"Rotating the object pile is weirdly fun — like a 3D treasure hunt!"</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="quotes" src="/img/reviews/quotes.png" alt="quotes" width="57" height="41" loading="lazy">
                        <img class="avatar-img" src="/img/reviews/five.png" alt="Avatar" width="88" height="78" loading="lazy">
                        <div class="reviews-wrapper-text">
                            <p class="reviews-author">MatchMaestro:</p>
                            <p class="reviews-text">"Themed levels are Just unlocked the 'Bakery'. I’m in love."</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="quotes" src="/img/reviews/quotes.png" alt="quotes" width="57" height="41" loading="lazy">
                        <img class="avatar-img" src="/img/reviews/one.png" alt="Avatar" width="88" height="78" loading="lazy">
                        <div class="reviews-wrapper-text">
                            <p class="reviews-author">PuzzleAddict777:</p>
                            <p class="reviews-text">"Oddly satisfying. I play before bed and it helps me wind down."</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="quotes" src="/img/reviews/quotes.png" alt="quotes" width="57" height="41" loading="lazy">
                        <img class="avatar-img" src="/img/reviews/two.png" alt="Avatar" width="88" height="78" loading="lazy">
                        <div class="reviews-wrapper-text">
                            <p class="reviews-author">CleanItAll:</p>
                            <p class="reviews-text">"It’s like spring cleaning for the brain — I can’t stop matching!"</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="quotes" src="/img/reviews/quotes.png" alt="quotes" width="57" height="41" loading="lazy">
                        <img class="avatar-img" src="/img/reviews/three.png" alt="Avatar" width="88" height="78" loading="lazy">
                        <div class="reviews-wrapper-text">
                            <p class="reviews-author">ChillVibesOnly:</p>
                            <p class="reviews-text">"The sound design is SO relaxing. Lovely game."</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="quotes" src="/img/reviews/quotes.png" alt="quotes" width="57" height="41" loading="lazy">
                        <img class="avatar-img" src="/img/reviews/four.png" alt="Avatar" width="88" height="78" loading="lazy">
                        <div class="reviews-wrapper-text">
                            <p class="reviews-author">ZoomZoomZoom:</p>
                            <p class="reviews-text">"Rotating the object pile is weirdly fun — like a 3D treasure hunt!"</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide reviews-swiper-slide">
                    <div class="reviews-wrapper">
                        <img class="quotes" src="/img/reviews/quotes.png" alt="quotes" width="57" height="41" loading="lazy">
                        <img class="avatar-img" src="/img/reviews/five.png" alt="Avatar" width="88" height="78" loading="lazy">
                        <div class="reviews-wrapper-text">
                            <p class="reviews-author">MatchMaestro:</p>
                            <p class="reviews-text">"Themed levels are Just unlocked the 'Bakery'. I’m in love."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-navigation reviews-nav">
            <button class="custom-arrow reviews-custom-prev" aria-label="Previous slide">
                <img class="arrow" src="/img/reviews/arrow.png" alt="Arrow" loading="lazy">
            </button>
            <button class="custom-arrow reviews-custom-next" aria-label="Next slide">
                <img class="arrow" src="/img/reviews/arrow.png" alt="Arrow" loading="lazy">
            </button>
        </div>
    </div>
</section>
<!-- FAQ -->
<section class="faq-section" id="FAQ">
    <div class="container">
        <h2 class="faq-title">FAQ</h2>
        <ul class="faq-list">
            <li class="faq-item">
                <div class="faq-wrapper">
                    <img class="faq-arrow-img" src="/img/arrow-down.png" alt="Arrow Down">
                    <p class="faq-title-item">Is Pair Hunt 3D kid-friendly?</p>
                </div>
                <p class="faq-text">Yes! It's suitable for all ages — relaxing for adults, engaging for kids.</p>
            </li>
            <li class="faq-item">
                <div class="faq-wrapper">
                    <img class="faq-arrow-img" src="/img/arrow-down.png" alt="Arrow Down">
                    <p class="faq-title-item">Does the game require an internet connection?</p>
                </div>
                <p class="faq-text">Nope. You can play anytime, anywhere, offline.</p>
            </li>
            <li class="faq-item">
                <div class="faq-wrapper">
                    <img class="faq-arrow-img" src="/img/arrow-down.png" alt="Arrow Down">
                    <p class="faq-title-item">Will new object sets be added?</p>
                </div>
                <p class="faq-text">Yes! New themed packs are released regularly to keep the experience fresh.</p>
            </li>
            <li class="faq-item">
                <div class="faq-wrapper">
                    <img class="faq-arrow-img" src="/img/arrow-down.png" alt="Arrow Down">
                    <p class="faq-title-item">Can I play in timed or untimed mode?</p>
                </div>
                <p class="faq-text">Both are available — choose what suits your mood.</p>
            </li>
            <li class="faq-item">
                <div class="faq-wrapper">
                    <img class="faq-arrow-img" src="/img/arrow-down.png" alt="Arrow Down">
                    <p class="faq-title-item">Is there a way to reset progress?</p>
                </div>
                <p class="faq-text">Yes, from the settings you can start fresh whenever you want.</p>
            </li>
        </ul>
    </div>
</section>
<!-- Key Features -->
<section class="key-section" id="Key">
    <div class="container">
        <h2 class="key-title">Key Features</h2>
        <div class="key-wrapper">
            <img class="key-img" src="/img/key/desk-left.png" alt="Pair Hunt 3D" loading="lazy" width="413" height="303">
        <ul class="key-list">
<li class="key-item key-item-one">Realistic 3D visuals</li>
<li class="key-item key-item-two">360° Interactive Puzzle Boards</li>
<li class="key-item key-item-three">Soothing audio and tactile sound effects</li>
<li class="key-item key-item-three key-item-four">Time-based challenges and relaxed modes</li>
<li class="key-item key-item-three key-item-five">Hundreds of levels with increasing complexity</li>
        </ul>
        <img class="key-img" src="/img/key/desk-right.png" alt="Pair Hunt 3D" loading="lazy" width="413" height="303">
    </div>
    </div>
</section>
<!-- Gallery -->
<section class="gallery-section" id="Gallery">
    <div class="container gallery-container">
        <h2 class="gallery-title">Gallery</h2>
        <div class="swiper gallery-swiper">
            <div class="swiper-wrapper gallery-swiper-wrapper">
                <div class="swiper-slide gallery-swiper-slide">
                    <img src="/img/gallery/one.png" alt="Pair Hunt 3D" loading="lazy">
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <img src="/img/gallery/two.png" alt="Pair Hunt 3D" loading="lazy">
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <img src="/img/gallery/three.png" alt="Pair Hunt 3D" loading="lazy">
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <img src="/img/gallery/four.png" alt="Pair Hunt 3D" loading="lazy">
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <img src="/img/gallery/five.png" alt="Pair Hunt 3D" loading="lazy">
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <img src="/img/gallery/six.png" alt="Pair Hunt 3D" loading="lazy">
                </div>
                <div class="swiper-slide gallery-swiper-slide">
                    <img src="/img/gallery/seven.png" alt="Pair Hunt 3D" loading="lazy">
                </div>
            </div>
        </div>

        <div class="custom-navigation gallery-nav">
            <button class="custom-arrow gallery-custom-prev" aria-label="Previous slide">
                <img class="arrow" src="/img/reviews/arrow.png" alt="Arrow" loading="lazy">
            </button>
            <button class="custom-arrow gallery-custom-next" aria-label="Next slide">
                <img class="arrow" src="/img/reviews/arrow.png" alt="Arrow" loading="lazy">
            </button>
        </div>
    </div>
</section>
