body{
  background: #092049;
  font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #f2f6ff;
}
h2{
  font-family: "Baloo 2", sans-serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 1.5;
    text-align: center;
    color: #ffd54f;
}
@media only screen and (min-width: 1439px) {
  h2{
    text-align: left;
  }
}