.footer {
  background: #ffd54f;
}
.footer-container{
  padding: 33px 20px;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  font-family: "Baloo 2", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #092049;
    margin-bottom: 18px;
}
.footer-text{
  font-size: 12px;
  color: #092049;
}
@media only screen and (min-width: 1439px) {
 .footer-container{
  padding: 46px 180px;
 }
.footer-navigation{
flex-direction: row;
justify-content: space-between;
margin-bottom: 50px;
}
.footer-text{
  text-align: center;
}
}

